
.robot {
  position: relative;
  width: 32px;
  height: 32px;
  margin: 0;
  border: 0;
}

.robot .antenna {
  position: relative;
  width: 2px;
  height: 10px;
  background: #800000;
  border-radius: 1px;
  transform: rotate(30deg);
  position: absolute;
  top: -6px;
}

.robot .antenna.left {
  transform: rotate(25deg);
  animation: blink 1.1s infinite;
  left: 14px;
}
.robot .antenna.right {
  transform: rotate(-25deg);
  animation: blink 1.02s infinite;
  left: 9px;
}

.robot .eye {
  position: relative;
  width: 3px;
  height: 3px;
  background: #C0C050;
  border-radius: 2px;
  position: absolute;
  top: 3px;
  left: 13px;
  animation: blink 1.07s infinite;
}

.robot .head {
  width: 10px;
  height: 10px;
  background: #333;
  border-radius: 2px;
  position: absolute;
  top: 0px;
  left: 8px;
}
.robot .nose {
  width: 14px;
  height: 5px;
  background: #333;
  border-radius: 2px;
  position: absolute;
  top: 5px;
  left: 8px;
}

/* Body */
.robot .body {
  width: 10px;
  height: 12px;
  background: #333;
  position: absolute;
  top: 11px;
  left: 8px;
  border-radius: 2px;
}

/* Legs */
.robot .leg {
  width: 3px;
  height: 10px;
  background: #202080;
  position: absolute;
  bottom: 0;
  border-radius: 1px;
  transform-origin: top center;
  animation: walk 2s infinite;
  left: 12px;
  top: 22px;
}

.robot .leg.left {
  animation-delay: 1s;
}
.robot .leg.right {
  animation-delay: 0s;
}

/* Arms */
.robot .arm {
  width: 3px;
  height: 12px;
  background: #1010C0;
  position: absolute;
  top: 11px;
  left: 12px;
  border-radius: 2px;
  transform-origin: top center;
  animation: swing 2s infinite;
}

.robot .arm.left {
  animation-delay: 0.2s;
}
.robot .arm.right {
  animation-delay: 1.2s;
}

@keyframes walk {
  0% { transform: translate(-3px, 0px); }
  5% { transform: translate(-3px, 0px); }
  10% { transform: translate(-3px, -2px); }
  40% { transform: translate(3px, -2px); }
  50% { transform: translate(3px, 0px); }
  90% { transform: translate(-3px, 0px); }
  100% { transform: translate(-3px, 0px); }
}

@keyframes swing {
  0% { transform: rotate(-50deg); }
  50% { transform: rotate(50deg); }
  100% { transform: rotate(-50deg); }
}

@keyframes blink {
  0%, 80% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(2);
  }
}
